{% extends "blog/base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}


{% block content %}

    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis assumenda laboriosam 
        quaerat laborum vero officiis et amet facere, quibusdam expedita sapiente quam quod,
        vitae fuga facilis voluptas officia ipsam cum dolorum, doloremque inventore cupiditate at?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis assumenda laboriosam 
        quaerat laborum vero officiis et amet facere, quibusdam expedita sapiente quam quod,
        vitae fuga facilis voluptas officia ipsam cum dolorum, doloremque inventore cupiditate at?
    </p>

{% endblock content %}