{% extends "blog/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}


{% block content %}

    <h3 class="text-white my-5">Become an Author</h3>
    {% if messages %}
        {% for message in messages %}

        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>

        {% endfor %}
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group my-2">
            {{fm.label_tag}} {{fm}} 
            {% for err in fm.errors %}
                <small class="text-warning">{{err}}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="form-group my-2">
            <input type="submit" value="Signup" class="btn btn-primary">
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>

{% endblock content %}